.img-container {
    max-height: 100%;
    max-width: 100%;  
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    
}

.img-slideshow {
    display: block;
    object-fit: cover;
    max-height: 100%;
    max-width: 100%;  
    width: 100vw;
    height: 100vh;
    animation: zoomIn 8s ease;
}

@keyframes zoomIn {
    from {
        transform: scale(1)
    }
    to {
        transform: scale(1.4)
    }
}